:root {
    //colors
  --blue: #b7c4cf;
  --orange: #e08631;

  --grey-soft: #fdfcfc;
  --grey-light: #504b49;
  --grey: #353231;
  --grey-dark: #1b1918;

  --brown-soft: #eee4dd;
  --brown-light: #d7c0ae;
  --brown: #967e76;
  --brown-dark: #5f4f49;
    
    //gaps
  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 32px;
  --gap-xl: 64px;

    //width
  --width-sm: 592px;
  --width-md: 794px;
  --width-full: 100%;
}
