<section class="grid-content-full grid-container tint">
        <div class="grid-content section-content about-section">
          <img src="/assets/images/lake.jpg" alt="Lake" />
          <div class="about-description body-md">
            <p class="gutter">
              LAKE HOUSE is an authentic spa hotel lost in the middle of the
              forest. The dreamy landscape promises a peaceful journey away from
              the noisy world. Visiting LAKE HOUSE is a true experience of a
              private secluded space. Everything is organic and natural. A guest
              who has visited our hotel at least once dreams of returning to the
              unparalleled, soothing, attractive atmosphere of LAKE HOUSE.
            </p>

            <p class="gutter">
              We have created a design that is one hundred percent integrated
              into the existing landscape, and in no way harms the natural
              environment.
            </p>

            <p class="gutter">
              We are very proud that we did not cut down a single tree during
              the construction period. Careful attitude towards the existing
              environment is one of the most important missions of our project.
            </p>

            <p class="gutter">
              We offer our guests a concept of hospitality that is much more
              than the standard bed and board approach. The concept of our
              project has clear real goals:
            </p>

            <ul class="gutter">
              <li>Environmental Protection</li>
              <li>Preservation of forests</li>
              <li>Growing organic vegetables, etc.</li>
            </ul>

            <p>
              We created a feeling of transparency and freshness, filled the
              space with light and complemented the unforgettable natural
              atmosphere with wooden accents, soft comfortable floors and modern
              design. Impressive views from the windows will capture your
              imagination, provide inspiration and create a feeling of complete
              unity with nature.
            </p>
          </div>
        <hr class="divider" />
    </div>
</section>