<section class="grid-content section-content">
    <header class="section-header sm">
        <hr class="divider" />
        <h2 class="heading-sm">The perfect escape</h2>
        <p class="body-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            scelerisque aliquam odio et faucibus. Nulla rhoncus feugiat eros
            quis consectetur.
        </p>
    </header>

    <ul class="grid-list premises-list">
        <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/1.svg"></use>
            </svg>
            <p class="body-md">Modern Kitchen Appliances</p>
            <p class="body-md">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>

        <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/2.svg"></use>
            </svg>
            <p class="body-md">Air Conditioner</p>
            <p class="body-md">Nullam scelerisque aliquam odio et faucibus.</p>
        </li>

        <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/3.svg"></use>
            </svg>
            <p class="body-md">Outdoor Paths</p>
            <p class="body-md">Nulla rhoncus feugiat eros quis consectetur.</p>
        </li>

        <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/4.svg"></use>
            </svg>
            <p class="body-md">Storage Solutions</p>
            <p class="body-md">
              Morbi neque ex, condimentum dapibus congue et, vulputate ut
              ligula.
            </p>
        </li>

        <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/5.svg"></use>
            </svg>
            <p class="body-md">Coffee Maker</p>
            <p class="body-md">Vestibulum sit amet urna turpis.</p>
        </li>

        <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/6.svg"></use>
            </svg>
            <p class="body-md">Cutlery Selection</p>
            <p class="body-md">
              Mauris euismod elit et nisi ultrices. Duis tristique sed lorem a
              vestibulum.
            </p>
        </li>

        <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/7.svg"></use>
            </svg>
            <p class="body-md">Natural Scenery</p>
            <p class="body-md">Cras commodo consequat orci, in</p>
        </li>

        <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/8.svg"></use>
            </svg>
            <p class="body-md">Take-away Options</p>
            <p class="body-md">
              convallis risus egestas non. Nulla efficitur auctor hendrerit.
              Etiam ut orci varius, faucibus libero ac.
            </p>
        </li>
    </ul>
</section>