<section class="grid-content section-content benefits-section">
        <header class="section-header">
          <hr class="divider" />
          <h2 class="heading-sm">Come together</h2>
          <p class="body-lg">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            scelerisque aliquam odio et faucibus.
          </p>
        </header>

        <ul class="grid-list benefits-list">
          <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/wifi.svg#icon"></use>
            </svg>
            <p class="body-md">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
          </li>
          <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/slippers.svg#icon"></use>
            </svg>
            <p class="body-md">Nullam scelerisque aliquam odio et faucibus.</p>
          </li>
          <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/bread.svg#icon"></use>
            </svg>
            <p class="body-md">Nulla rhoncus feugiat eros quis consectetur.</p>
          </li>
          <li class="grid-list-item">
            <svg class="icon">
              <use href="/assets/icons/cutlery.svg#icon"></use>
            </svg>
            <p class="body-md">Morbi neque ex, condimentum.</p>
          </li>
        </ul>
      </section>