<section class="grid-content-full grid-container tint">
    <div class="grid-content section-content hurry-up-section">
        <header class="section-header md placement-center">
            <hr class="divider" />
            <p class="heading-sm">
              We're already booked up for the spring — hurry up & secure your
              stay for the summer.
            </p>
            <p class="body-lg">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
              scelerisque aliquam odio et faucibus. Lorem ipsum dolor sit amet,
              consectetur adipiscing elit. Nullam scelerisque aliquam odio et
              faucibus.
            </p>
        </header>
        <div class="placement-center">
            <button class="btn outlined">Contact us</button>
            <button class="btn solid call-to-action">Book now</button>
        </div>
    </div>
</section>