<header class="page-header grid-container">
      <div class="grid-content header-content">
        <svg height="40" width="87" class="logo">
          <use href="/./assets/icons/logo.svg#logo" />
        </svg>

        <nav class="main-nav heading-xs">
          <a href="#">Start</a>
          <a href="#">Our history</a>
          <a href="#">Contact us</a>
        </nav>

        <div class="social">
          <a href="#">
            <svg width="24" height="24">
              <use href="/assets/icons/fb.svg"></use>
            </svg>
          </a>

          <a href="#">
            <svg width="24" height="24">
              <use href="/assets/icons/instagram.svg"></use>
            </svg>
          </a>

          <a href="#">
            <svg width="24" height="24">
              <use href="/assets/icons/pinterest.svg"></use>
            </svg>
          </a>
        </div>
      </div>
    </header>