 <section class="grid-content-full grid-container tint feedbacks-section">
    <div class="grid-content-full section-content">
        <header class="section-header sm placement-center">
            <hr class="divider" />
            <h2 class="heading-sm">Past guests</h2>
            <p class="bo body-lg align-center">
              Don't take our word for it! Have a look at what our previous
              guests say about their stay at the Guest House.
            </p>
        </header>

        <div class="cards">
            <div class="card">
              <p class="heading-xs">
                We had an amazing stay at the Guest House!
              </p>
              <p class="body-md">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                commodo diam libero vitae erat. Aenean faucibus nibh et justo
                cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                tristique posuere.
              </p>
              <p class="body-md feedback-author">Nate Davidsson</p>
            </div>
            <div class="card focus">
              <p class="heading-xs">
                We had an amazing stay at the Guest House!
              </p>
              <p class="body-md">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                commodo diam libero vitae erat. Aenean faucibus nibh et justo
                cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                tristique posuere.
              </p>
              <p class="body-md feedback-author">Nate Davidsson</p>
            </div>
            <div class="card">
              <p class="heading-xs">
                We had an amazing stay at the Guest House!
              </p>
              <p class="body-md">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                commodo diam libero vitae erat. Aenean faucibus nibh et justo
                cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus
                tristique posuere.
              </p>
              <p class="body-md feedback-author">Nate Davidsson</p>
            </div>
        </div>
    </div>
</section>

<img src="/assets/images/fireplace.jpg" class="grid-content-full illustration" />